$color__background-body: rgb(40, 86, 100);
$color__background-header:rgb(52, 209, 188);
$color__background-barre:rgb(97, 39, 114);
$color__background-footer:rgb(56, 34, 34);
$color__background-main:rgb(209, 107, 107);
// liens
$color__link: #eed33e; //royalblue
$color__link-visited: #332733; //purple
$color__link-hover: #191970; //midnightblue
$background-color__link-hover: #e64ce6;

$color__link__footer: #192a5c;
$color__link__footer-visited :#551970 ;
$color__link__footer-hover:#701933;