.site__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}



.site__info{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $font_header-h1;
    
}



.site__info__adresse{
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}
.site__footer__menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}