.site__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}



.site__info{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $font_header-h1;
    
}

.site__info2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: $font_header-h1;
}

.site__info2__droit{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 12em;
    padding-right:  30em;
}
.site__info__adresse{
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}