

.site__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
   
    background-color: $color__background-footer;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
  
}

.site__droit{
    color: rgb(240, 198, 198);
    padding-top: 60px;
}

.site__info{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $font_header-h1;
    
}



.site__info__adresse{
    font-family: 'Poppins', sans-serif;
    color: rgb(240, 198, 198);
}

 

        
