#chk-burger{
    display: none;
}

#burger{
    display:block;
    position: absolute;
    transform: rotate(0deg);
    transition: transform .3s;
}

#chk-burger:checked ~ #burger{
    transform: rotate(90deg);
}
#chk-burger:checked ~ .menu-principal-container{
    display:block;
}

.menu-principal-container{
 display:none;

}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item{
 margin: 0;
 padding: 0;

    a{
        display : block;
        font-family: $font_navigation;
        padding: 4px;
        text-decoration: none;
        color: $color__link;
        //background-color: $color__background-link;
        &:hover{
            color: $color__link-hover;
            
        }
    }
}
@media screen and (min-width: $largeur__media-tablette) {
   
     #burger{
         display: none;
     }
    .menu-principal-container{
        display: block;
   
    }
    
}

